<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DailyPostMapper">
	<resultMap id="dailyPostWithAllChildren"
		type="com.example.domain.DailyPost">
		<id column="daily_post_id" property="dailyPostId" />
		<result column="user_id" property="userId" />
		<result column="date" property="date" />
		<result column="register_user_id" property="registerUserId" />
		<result column="register_date" property="registerDate" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_date" property="updateDate" />
		<result column="version" property="version" />
		<result column="status" property="status" />
		<association property="postedMotivation"
			javaType="com.example.domain.PostedMotivation">
			<id column="pm_posted_motivation_id" property="postedMotivationId" />
			<result column="pm_daily_post_id" property="dailyPostId" />
			<result column="pm_motivation_id" property="motivationId" />
			<result column="pm_register_user_id" property="registerUserId" />
			<result column="pm_register_date" property="registerDate" />
			<result column="pm_update_user_id" property="updateUserId" />
			<result column="pm_update_date" property="updateDate" />
			<result column="pm_version" property="version" />
			<result column="pm_status" property="status" />
			<association property="motivation"
				javaType="com.example.domain.Motivation">
				<id column="m_motivation_id" property="motivationId" />
				<result column="m_motivation_name" property="motivationName" />
			</association>
		</association>
		<association property="postedCondition"
			javaType="com.example.domain.PostedCondition">
			<id column="pc_posted_condition_id" property="postedConditionId" />
			<result column="pc_daily_post_id" property="dailyPostId" />
			<result column="pc_condition_id" property="conditionId" />
			<result column="pc_register_user_id" property="registerUserId" />
			<result column="pc_register_date" property="registerDate" />
			<result column="pc_update_user_id" property="updateUserId" />
			<result column="pc_update_date" property="updateDate" />
			<result column="pc_version" property="version" />
			<result column="pc_status" property="status" />
			<association property="condition"
				javaType="com.example.domain.Condition">
				<id column="c_condition_id" property="conditionId" />
				<result column="c_condition_name" property="conditionName" />
			</association>
		</association>
		<association property="postedPerformance"
			javaType="com.example.domain.PostedPerformance">
			<id column="pp_posted_performance_id"
				property="postedPerformanceId" />
			<result column="pp_daily_post_id" property="dailyPostId" />
			<result column="pp_performance_id" property="performanceId" />
			<result column="pp_register_user_id" property="registerUserId" />
			<result column="pp_register_date" property="registerDate" />
			<result column="pp_update_user_id" property="updateUserId" />
			<result column="pp_update_date" property="updateDate" />
			<result column="pp_version" property="version" />
			<result column="pp_status" property="status" />
			<association property="performance"
				javaType="com.example.domain.Performance">
				<id column="p_performance_id" property="performanceId" />
				<result column="p_performance_name"
					property="performanceName" />
			</association>
		</association>
		<association property="postedComment"
			javaType="com.example.domain.PostedComment">
			<id column="pcm_posted_comment_id" property="postedCommentId" />
			<result column="pcm_daily_post_id" property="dailyPostId" />
			<result column="pcm_comment" property="comment" />
			<result column="pcm_register_user_id"
				property="registerUserId" />
			<result column="pcm_register_date" property="registerDate" />
			<result column="pcm_update_user_id" property="updateUserId" />
			<result column="pcm_update_date" property="updateDate" />
			<result column="pcm_version" property="version" />
			<result column="pcm_status" property="status" />
		</association>
	</resultMap>
	<select id="findByDate" parameterType="java.sql.Timestamp"
		resultMap="dailyPostWithAllChildren">
		SELECT
		dp.daily_post_id,
		dp.user_id,
		dp.date,
		dp.register_user_id,
		dp.register_date,
		dp.update_user_id,
		dp.update_date,
		dp.version,
		dp.status,
		pm.posted_motivation_id pm_posted_motivation_id,
		pm.daily_post_id pm_daily_post_id,
		pm.motivation_id pm_motivation_id,
		pm.register_user_id pm_register_user_id,
		pm.register_date pm_register_date,
		pm.update_user_id pm_update_user_id,
		pm.update_date pm_update_date,
		pm.version pm_version,
		pm.status pm_status,
		m.motivation_id m_motivation_id,
		m.motivation_name m_motivation_name,
		pc.posted_condition_id pc_posted_condition_id,
		pc.daily_post_id pc_daily_post_id,
		pc.condition_id pc_condition_id,
		pc.register_user_id pc_register_user_id,
		pc.register_date pc_register_date,
		pc.update_user_id pc_update_user_id,
		pc.update_date pc_update_date,
		pc.version pc_version,
		pc.status pc_status,
		c.condition_id c_condition_id,
		c.condition_name c_condition_name,
		pp.posted_performance_id pp_posted_performance_id,
		pp.daily_post_id pp_daily_post_id,
		pp.performance_id pp_performance_id,
		pp.register_user_id pp_register_user_id,
		pp.register_date pp_register_date,
		pp.update_user_id pp_update_user_id,
		pp.update_date pp_update_date,
		pp.version pp_version,
		pp.status pp_status,
		p.performance_id p_performance_id,
		p.performance_name p_performance_name,
		pcm.posted_comment_id pcm_posted_comment_id,
		pcm.daily_post_id pcm_daily_post_id,
		pcm.comment pcm_comment,
		pcm.register_user_id pcm_register_user_id,
		pcm.register_date pcm_register_date,
		pcm.update_user_id pcm_update_user_id,
		pcm.update_date pcm_update_date,
		pcm.version pcm_version,
		pcm.status pcm_status
		FROM daily_posts AS dp
		LEFT OUTER JOIN posted_motivations AS pm ON dp.daily_post_id =
		pm.daily_post_id
		LEFT OUTER JOIN motivations AS m ON pm.motivation_id = m.motivation_id
		LEFT OUTER JOIN posted_conditions AS pc ON dp.daily_post_id =
		pc.daily_post_id
		LEFT OUTER JOIN conditions AS c ON pc.condition_id = c.condition_id
		LEFT OUTER JOIN posted_performances AS pp ON dp.daily_post_id =
		pp.daily_post_id
		LEFT OUTER JOIN performances AS p ON pp.performance_id = p.performance_id
		LEFT OUTER JOIN posted_comments AS pcm ON dp.daily_post_id =
		pcm.daily_post_id
		WHERE dp.date BETWEEN #{startTs} AND #{endTs}
		ORDER BY dp.date;
	</select>
	<select id="findByUserId" parameterType="Integer"
		resultMap="dailyPostWithAllChildren">
		SELECT
		dp.daily_post_id,
		dp.user_id,
		dp.date,
		dp.register_user_id,
		dp.register_date,
		dp.update_user_id,
		dp.update_date,
		dp.version,
		dp.status,
		pm.posted_motivation_id pm_posted_motivation_id,
		pm.daily_post_id pm_daily_post_id,
		pm.motivation_id pm_motivation_id,
		pm.register_user_id pm_register_user_id,
		pm.register_date pm_register_date,
		pm.update_user_id pm_update_user_id,
		pm.update_date pm_update_date,
		pm.version pm_version,
		pm.status pm_status,
		m.motivation_id m_motivation_id,
		m.motivation_name m_motivation_name,
		pc.posted_condition_id pc_posted_condition_id,
		pc.daily_post_id pc_daily_post_id,
		pc.condition_id pc_condition_id,
		pc.register_user_id pc_register_user_id,
		pc.register_date pc_register_date,
		pc.update_user_id pc_update_user_id,
		pc.update_date pc_update_date,
		pc.version pc_version,
		pc.status pc_status,
		c.condition_id c_condition_id,
		c.condition_name c_condition_name,
		pp.posted_performance_id pp_posted_performance_id,
		pp.daily_post_id pp_daily_post_id,
		pp.performance_id pp_performance_id,
		pp.register_user_id pp_register_user_id,
		pp.register_date pp_register_date,
		pp.update_user_id pp_update_user_id,
		pp.update_date pp_update_date,
		pp.version pp_version,
		pp.status pp_status,
		p.performance_id p_performance_id,
		p.performance_name p_performance_name,
		pcm.posted_comment_id pcm_posted_comment_id,
		pcm.daily_post_id pcm_daily_post_id,
		pcm.comment pcm_comment,
		pcm.register_user_id pcm_register_user_id,
		pcm.register_date pcm_register_date,
		pcm.update_user_id pcm_update_user_id,
		pcm.update_date pcm_update_date,
		pcm.version pcm_version,
		pcm.status pcm_status
		FROM daily_posts AS dp
		LEFT OUTER JOIN posted_motivations AS pm ON dp.daily_post_id =
		pm.daily_post_id
		LEFT OUTER JOIN motivations AS m ON pm.motivation_id = m.motivation_id
		LEFT OUTER JOIN posted_conditions AS pc ON dp.daily_post_id =
		pc.daily_post_id
		LEFT OUTER JOIN conditions AS c ON pc.condition_id = c.condition_id
		LEFT OUTER JOIN posted_performances AS pp ON dp.daily_post_id =
		pp.daily_post_id
		LEFT OUTER JOIN performances AS p ON pp.performance_id = p.performance_id
		LEFT OUTER JOIN posted_comments AS pcm ON dp.daily_post_id =
		pcm.daily_post_id
		WHERE dp.user_id = #{userId}
		ORDER BY dp.date;
	</select>
	<select id="findByDailyPostId" parameterType="Integer"
		resultMap="dailyPostWithAllChildren">
		SELECT
		dp.daily_post_id,
		dp.user_id,
		dp.date,
		dp.register_user_id,
		dp.register_date,
		dp.update_user_id,
		dp.update_date,
		dp.version,
		dp.status,
		pm.posted_motivation_id pm_posted_motivation_id,
		pm.daily_post_id pm_daily_post_id,
		pm.motivation_id pm_motivation_id,
		pm.register_user_id pm_register_user_id,
		pm.register_date pm_register_date,
		pm.update_user_id pm_update_user_id,
		pm.update_date pm_update_date,
		pm.version pm_version,
		pm.status pm_status,
		m.motivation_id m_motivation_id,
		m.motivation_name m_motivation_name,
		pc.posted_condition_id pc_posted_condition_id,
		pc.daily_post_id pc_daily_post_id,
		pc.condition_id pc_condition_id,
		pc.register_user_id pc_register_user_id,
		pc.register_date pc_register_date,
		pc.update_user_id pc_update_user_id,
		pc.update_date pc_update_date,
		pc.version pc_version,
		pc.status pc_status,
		c.condition_id c_condition_id,
		c.condition_name c_condition_name,
		pp.posted_performance_id pp_posted_performance_id,
		pp.daily_post_id pp_daily_post_id,
		pp.performance_id pp_performance_id,
		pp.register_user_id pp_register_user_id,
		pp.register_date pp_register_date,
		pp.update_user_id pp_update_user_id,
		pp.update_date pp_update_date,
		pp.version pp_version,
		pp.status pp_status,
		p.performance_id p_performance_id,
		p.performance_name p_performance_name,
		pcm.posted_comment_id pcm_posted_comment_id,
		pcm.daily_post_id pcm_daily_post_id,
		pcm.comment pcm_comment,
		pcm.register_user_id pcm_register_user_id,
		pcm.register_date pcm_register_date,
		pcm.update_user_id pcm_update_user_id,
		pcm.update_date pcm_update_date,
		pcm.version pcm_version,
		pcm.status pcm_status
		FROM daily_posts AS dp
		LEFT OUTER JOIN posted_motivations AS pm ON dp.daily_post_id =
		pm.daily_post_id
		LEFT OUTER JOIN motivations AS m ON pm.motivation_id = m.motivation_id
		LEFT OUTER JOIN posted_conditions AS pc ON dp.daily_post_id =
		pc.daily_post_id
		LEFT OUTER JOIN conditions AS c ON pc.condition_id = c.condition_id
		LEFT OUTER JOIN posted_performances AS pp ON dp.daily_post_id =
		pp.daily_post_id
		LEFT OUTER JOIN performances AS p ON pp.performance_id = p.performance_id
		LEFT OUTER JOIN posted_comments AS pcm ON dp.daily_post_id =
		pcm.daily_post_id
		WHERE dp.daily_post_id = #{dailyPostId}
	</select>
	
	
	<insert id="save" useGeneratedKeys="true"
		keyProperty="dailyPostId">
		INSERT INTO daily_posts(user_id, date, register_user_id, register_date,
		update_user_id, update_date, version, status)
		VALUES(#{userId}, #{date}, #{registerUserId}, #{registerDate}, #{updateUserId},
		#{updateDate}, #{version}, #{status});
	</insert>
	
	
	<select id="findByUserIdAndDate"
		resultMap="dailyPostWithAllChildren">
		SELECT * FROM daily_posts AS dp WHERE dp.user_id = #{userId} And to_char(dp.date,'YYYY/MM/DD') =#{tsDate};
	</select>
	
	
	<update id="update">
		UPDATE daily_posts
		SET
		update_user_id=#{updateUserId},
		update_date=#{updateDate},
		version=version + 1
		where daily_post_id = #{dailyPostId}
	</update>
</mapper>