<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MailAndUserMapper">
	<resultMap type="com.example.domain.Mail" id="MailAndUserResultMap">
		<id property="mailId" column="m_mail_id" />
		<result property="mailName" column="mail_name"/>
		<result property="userId" column="m_user_id"/>
		<result property="registerUserId" column="m_register_user_id"/>
		<result property="registerDate" column="m_register_date"/>
		<result property="updateUserId" column="m_update_user_id"/>
		<result property="updateDate" column="m_updateDate"/>
		<result property="version" column="m_version"/>
		<result property="status" column="m_status"/>
		<association property="user" javaType="com.example.domain.User">
			<id property="userId" column="u_user_id"/>
			<result property="userName" column="user_name" />
			<result property="userNameKana" column="user_name_kana" />
			<result property="depId" column="dep_id" />
			<result property="hireDate" column="hire_date" />
			<result property="authority" column="authority" />
			<result property="registerUserId" column="u_register_user_id" />
			<result property="registerDate" column="u_register_date" />
			<result property="updateUserId" column="u_update_user_id" />
			<result property="updateDate" column="u_update_date" />
			<result property="version" column="u_version" />
			<result property="status" column="u_status" />
		</association>
	</resultMap>
	
	<select id="findByMailAndAuthority" parameterType="String" resultMap="MailAndUserResultMap">
		select 
		m.mail_id m_mail_id,
		mail_name,
		m.user_id m_user_id,
		m.register_user_id m_register_user_id,
		m.register_date m_register_date,
		m.update_user_id m_update_user_id,
		m.update_date m_update_date,
		m.version m_version,
		m.status m_status,
		u.user_id u_user_id,
		user_name,
		user_name_kana,
		dep_id,
		hire_date,
		authority,
		u.register_user_id u_register_user_id,
		u.register_date u_register_date,
		u.update_user_id u_update_user_id,
		u.update_date u_update_date,
		u.version u_version,
		u.status u_status
		from mails as m
		left join users as u
		on m.user_id = u.user_id
		where mail_name =#{mail}
	</select>
</mapper>