<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PasswordMapper">

	<resultMap id="passwordResultMap" type="com.example.domain.Password">

		<id property="passwordId" column="p.password_id" />
		<result property="mailAddress" column="p.mail_address" />
		<result property="password" column="p.password" />

		<result property="registerUserId" column="p.register_user_id" />
		<result property="registerDate" column="p.register_date" />
		<result property="updateUserId" column="p.update_user_id" />
		<result property="updateDate" column="p.update_date" />
		<result property="version" column="p.version" />
		<result property="status" column="p.status" />
		<result property="authority" column="u.authority" />

	</resultMap>

	<insert id="registerPassword">
		INSERT INTO passwords
		(mail_address,password,register_user_id,register_date,version,status)
		VALUES(#{mailAddress},#{password},#{registerUserId},#{registerDate},#{version},#{status})
	</insert>
	<select id="load" resultMap="passwordResultMap">
		SELECT p.password_id,p.mail_address,p.password,p.register_user_id,p.register_date,p.update_user_id,p.update_date,p.version,p.status,u.authority from passwords p LEFT OUTER JOIN mails m ON p.mail_address = m.mail_name LEFT OUTER JOIN users u ON m.user_id = u.user_id WHERE p.mail_address = #{mailAddress}
	</select>
</mapper>