<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PostedCommentMapper">
    <insert id="save">
    INSERT INTO posted_comments(daily_post_id, comment, register_user_id, register_date, update_user_id, version, status) 
        VALUES(#{dailyPostId}, #{comment}, #{registerUserId}, #{updateDate}, #{version}, #{status} );
    </insert>
</mapper>