<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PostedCommentMapper">


    <insert id="save">
    INSERT INTO posted_comments(daily_post_id, comment, register_user_id, register_date, update_user_id, update_date, version, status) 
        VALUES(#{dailyPostId}, #{comment}, #{registerUserId}, #{registerDate}, #{updateUserId}, #{updateDate}, #{version}, #{status} );
    </insert>


    <update id="update">
    	UPDATE posted_comments
    	SET
    	comment = #{comment},
    	update_user_id = #{updateUserId},
    	update_date = #{updateDate},
    	version = version + 1
    	where daily_post_id = #{dailyPostId}
    </update>
    
    <select id="updateStatus">
    	UPDATE posted_comments
    	SET
    	update_user_id = #{updateUserId},
    	update_date = #{updateDate},
    	version = #{version},
    	status=#{status}
    	where daily_post_id = #{dailyPostId}
    </select>
    
    
    <!-- テスト用 100件挿入-->
	<select id="insertPostedComment" resultType="Integer">
		INSERT INTO posted_comments(daily_post_id, comment, register_user_id, register_date, update_user_id, update_date, version, status) 
		select i,'いえい',1,'2020-04-27 09:00:00',1,'2020-04-27 09:00:00',1,2
		from generate_series(1,100) as i;
	</select>


</mapper>